page-welcome {

  font-weight: 300;

  ion-slide {

    position: relative;
    background-size: cover;

    div.transparentbox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(10, 207, 195);
      opacity: 0.7;
      filter: alpha(opacity=70);
      padding: 28px 28px 48px 28px;
      margin-bottom: 0;
    }

    div.transparentbox p {
    font-size: 2.7rem;
    color: #000000;
    }

    img {
      width: 50px;
      height: 50px;
      margin-top: -150px
    }

  }

  .swiper-pagination-bullet {
    background: dark;
  }

}